.header {
  width: 100%;
  height: 10vh;
  max-height: 64px;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  z-index: 10;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 12px;
}

.header__nav--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav--menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header__nav--menu ul li {
  transition: all 0.2s ease-in-out;
}

.header__nav--menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.active-link {
  transform: translateY(-4px);
  border-bottom: 2px solid var(--white);
}

.header__nav--menu ul li:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 400px) {
  span {
    display: none;
  }
}
