.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button {
  min-width: 100px;
}

.modal-icon {
  width: 60px;
  height: 60px;
  font-size: 55px;
  color: var(--green-dark);
}

.actions-container button {
  border: 1px solid var(--blue-dark);
}
