.image-component {
  display: inline-block;
  text-align: center;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--transparent);
  }
}
