<section class="home" role="main" aria-label="Página inicial">
  <div class="home__content">
    <h1>Gerencie seu estoque com precisão, agilidade e inteligência.</h1>

    <p>
      O StockFlow ajuda seu negócio a manter o controle total de entradas,
      saídas e movimentações — tudo em tempo real.
    </p>
    <app-button
      label="Consultar"
      ariaLabel="Consultar lista de estoque"
      link="/consulta"
      bgColor="var(--white)"
      textColor="var(--blue-dark)"
    >
    </app-button>
  </div>
</section>
