@import "./utils/colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  body {
    min-width: 215px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-error {
  font-size: 12px;
  font-size: 12px;
  white-space: nowrap;
  margin-left: -15px;
}

@media screen and (max-width: 400px) {
  body {
    min-width: 310px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar-success,
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: var(--green-dark) !important;
  color: white !important;
  font-weight: bold;
}
